* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f7;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.todo-container {
    width: 500px;
    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 15px;
}

button {
    padding: 11px 16px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-size: 14px;
}

.input-area button {
    background: #2563eb;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;

    margin-top: 15px;
}

.buttons button:first-child {
    background: #dc2626;
    color: white;
}

.buttons button:last-child {
    background: #f59e0b;
    color: white;
}

#taskList {
    list-style: none;

    padding: 0;

    margin-top: 25px;
}

.task {
    display: flex;

    align-items: center;

    gap: 10px;

    padding: 12px;

    margin-bottom: 10px;

    background: #f3f4f6;

    border-radius: 8px;
}

.task span {
    flex: 1;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}